@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}
@using Quanlykytucxa.Viewmodel;
@model ChangePasswordViewModel;

<style>
    .account-container {
        background-size: cover;
        background-position: center;
        background-repeat: repeat-y;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 2rem 0;
    }

    .account-box {
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
        max-width: 500px;
        width: 100%;
        opacity: 0.9;
    }
</style>

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Change Password</h2>
        <form asp-action="Changepasswordn" asp-area="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
            <input type="submit" value="Login" class="btn btn-success w-100 p-2" />
            <div class="text-center">
                <a asp-controller="Account" asp-area="" action="VerifyEmail" class="text-decoration-none mt-3">Back</a>
            </div>
        </form>
    </div>
</div>